<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Editar Cliente</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<!-- <link rel="stylesheet" href="../../../static/css/bootstrap.min.css"> -->
	<!-- <link rel="shortcut icon" href="../../static/imagenes/logobb.png" type="image/x-icon"> -->
	<link rel="stylesheet" th:href="@{/css/main.css}">
	<link rel="shortcut icon" href="@{/imagenes/logobb.png}" type="image/x-icon">
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link href="https://fonts.googleapis.com/css2?family=Inder&display=swap" rel="stylesheet" />
	<style>
		body {
			font-family: 'Inder';
		}

		.card-header {
			padding: .5rem 1rem;
			margin-bottom: 0;
			background-color: transparent;
			border-bottom: transparent;
		}

		.card-header:hover {
			font-size: 35px;
		}

		.card {
			border-radius: 10px;
		}

		.text-wb {
			font-size: 17px;
			color: #202020;
		}

		.text-wb:hover {
			color: #202020;
		}

		.btn {
			padding: 6px 22px;
		}
	</style>
</head>

<body>
	<header th:replace="home::header"></header>
	<div class="container p-3">
		<div class="card">
			<div class="card-header">
				<h2>Editar Cliente</h2>
			</div>
			<div class="card-body">
				<form th:action="@{/views/cliente/actualizar}" method="post">
					<input type="hidden" name="id" th:value="${cliente.id}">
					<div class="row g-3">
						<div class="col-md-4">
							<label class="form-label">Apellido Paterno</label> <input type="text" class="form-control" name="paterno"
								th:value="${cliente.paterno}">
						</div>
						<div class="col-md-4">
							<label class="form-label">Apellido Materno</label> <input type="text" class="form-control" name="materno"
								th:value="${cliente.materno}">
						</div>
						<div class="col-md-4">
							<label class="form-label">Nombres</label> <input type="text" class="form-control" name="nombres"
								th:value="${cliente.nombres}">
						</div>
						<div class="col-md-4">
							<label class="form-label">Dni</label> <input type="text" class="form-control" name="dni"
								th:value="${cliente.dni}">
						</div>
						<div class="col-md-4">
							<label class="form-label">Ciudad</label> <input type="text" class="form-control" name="ciudad"
								th:value="${cliente.ciudad}">
						</div>
						<div class="col-md-4">
							<label class="form-label">Correo</label> <input type="text" class="form-control" name="correo"
								th:value="${cliente.correo}">
						</div>
						<div class="col-md-4 d-none">
							<label class="form-label">Estado</label> <select class="form-select" name="estado">
								<option th:if="${cliente.estado == true}" value="true">Activo</option>
								<option th:unless="${cliente.estado == false}" value="false">Inactivo</option>
								<option th:if="${cliente.estado == false}" value="false">Inactivo</option>
								<option th:unless="${cliente.estado == true}" value="true">Activo</option>
							</select>
						</div>
						<div class="col-12">
							<button type="submit" class="btn btn-primary text-wb">Guardar</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<footer th:replace="home::footer"></footer>
</body>

</html>