<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <title>Home Eurekabank Web</title>
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" href="../static/css/bootstrap.min.css"> -->
  <!-- <link rel="shortcut icon" href="../../static/imagenes/logobb.png" type="image/x-icon"> -->
  <link rel="shortcut icon" href="@{/imagenes/logobb.png}" type="image/x-icon">
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Inder&display=swap" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

  <style>
    body {
      font-family: 'Inder';
    }

    @media (min-width:768px) {
      .h4b {
        font-size: 1.1rem
      }
    }

    .bg-logob {
      background-color: #093F6A !important;
    }

    .bg-navb {
      background-color: #0B6770;
    }

    .fs-b {
      font-size: 50px !important
    }

    .fs-nb {
      font-size: 30px !important
    }

    .w-logout {
      width: 15px;
    }

    .text-bt {
      color: #626262;
    }

    .underline {
      text-decoration: underline;
    }
  </style>
</head>

<body>
  <!-- BARRA MENU -->
  <header th:fragment="header(selected)">
    <nav class="navbar navbar-expand-lg navbar-dark bg-navb"> <!-- #0B6770 -->
      <div class="container-fluid">
        <a class="navbar-brand py-2 px-3 bg-logob fs-5" href="#">EurekaBank</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item"><a class="nav-link  h4b" aria-current="page" th:href="@{/home}">Inicio</a>
            </li>
            <li class="nav-item"><a class="nav-link h4b" th:classappend="${selected == 1} ? 'active underline' : ''"
                th:href="@{/views/cliente}">Clientes</a></li>
            <li class="nav-item"><a class="nav-link h4b" th:classappend="${selected == 2} ? 'active underline' : ''"
                th:href="@{/views/empleado}">Empleados</a></li>
            <li class="nav-item"><a class="nav-link h4b" th:classappend="${selected == 3} ? 'active underline' : ''"
                th:href="@{/views/cuenta}">Cuentas</a></li>
            <li class="nav-item"><a class="nav-link h4b" th:classappend="${selected == 4} ? 'active underline' : ''"
                th:href="@{/views/movimiento}">Movimientos</a></li>
          </ul>
          <button type="button" class="btn btn-primary" sec:authorize="isAuthenticated()">
            <a class="text-dark text-decoration-none d-flex gap-1 align-items-center h4b" th:href="@{/logout}">
              Cerrar sesión
              <img src="/imagenes/logout.svg" class="w-logout" alt=""></a>
          </button>
          <!-- <ul class="navbar-nav d-flex mb-2 mb-lg-0">
						<li class="nav-item" sec:authorize="isAuthenticated()"></li>
						<a class="nav-link" th:href="@{/logout}">Cerrar Sesion</a>
					</ul> -->
        </div>
      </div>
    </nav>

    <!-- MENSAJES -->
    <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${success!=null}">
      <strong th:text="${success}"></strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${error!=null}">
      <strong th:text="${error}"></strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </header>
  <br>


  <!-- PIE DE PAGINA -->
  <footer th:fragment="footer" class="text-center text-bt fixed-bottom">
    <div>Copyright Eurekabank 2024</div>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-3.1.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"></script>
    <!-- <script src="../static/js/bootstrap.min.js"></script>
		<script src="../static/js/jquery-3.1.1.min.js"></script>
		<script src="../static/js/popper.min.js"></script> -->
  </footer>

</body>

</html>